.latex {
  letter-spacing: .01em;
}

.latex sup {
  text-transform: uppercase;
  letter-spacing: .01em;
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

.latex sub {
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}
/* @import "et-book"; */
body { margin: 0 }
img { max-width: 100% }
svg { max-height: 100% }
/* Basscss Base Forms */

input {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

select {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

textarea {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

fieldset {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  vertical-align: middle;
}

input[type=text] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=date] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=datetime] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=datetime-local] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=email] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=month] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=number] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=password] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=search] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=tel] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=time] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=url] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=week] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

select {
  line-height: 1.75;
  padding: .5rem .5rem;
}

select:not([multiple]) {
  height: 2.25rem;
  vertical-align: middle;
}

textarea {
  line-height: 1.75;
  padding: .5rem .5rem;
}

/* Basscss Defaults */

/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/

:root {

  /* Cool */


  /* Warm */


  /* Gray scale */

}
/* Basscss Base Tables */

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: bold;
}

th {
  padding: .25rem 1rem;
  line-height: inherit;
}

td {
  padding: .25rem 1rem;
  line-height: inherit;
}

th { vertical-align: bottom }
td { vertical-align: top }
/* Basscss Base Typography */

body {
  font-family: 'Old Standard TT', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  line-height: 1.5;
  font-size: 100%;
}

h1 {
  font-family: 'Old Standard TT', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

h2 {
  font-family: 'Old Standard TT', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

h3 {
  font-family: 'Old Standard TT', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

h4 {
  font-family: 'Old Standard TT', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

h5 {
  font-family: 'Old Standard TT', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

h6 {
  font-family: 'Old Standard TT', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
}

code {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
}

samp {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }
/* Basscss Color Base */

body {
  color: #202A25;
  background-color: #ede0ce;
}

a {
  color: #26547C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  background-color: transparent;
  border-radius: 3px;
}

code {
  background-color: transparent;
  border-radius: 3px;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #202A25;
}
/* Basscss Color Forms */

.field {
  border-style: solid;
  border-width: 1px;
  border-color: #202A25;
  border-radius: 3px;
}

.field:focus {
  outline: none;
  border-color: #26547C;
  box-shadow: 0 0 0 2px color(#26547C a(.5));
}

.field.is-focused {
  outline: none;
  border-color: #26547C;
  box-shadow: 0 0 0 2px color(#26547C a(.5));
}

.field:disabled {
  background-color: rgba(0,0,0,.125);
  opacity: .5;
}

.field.is-disabled {
  background-color: rgba(0,0,0,.125);
  opacity: .5;
}

.field:read-only:not(select) {
  background-color: rgba(0,0,0,.125);
}

.field.is-read-only {
  background-color: rgba(0,0,0,.125);
}


.field.is-success {
  border-color: #2ecc40;
}

.field.is-success:focus {
  box-shadow: 0 0 0 2px color(#2ecc40 a(.5));
}

.field.is-success.is-focused {
  box-shadow: 0 0 0 2px color(#2ecc40 a(.5));
}

.field.is-warning {
  border-color: #ffdc00;
}

.field.is-warning:focus {
  box-shadow: 0 0 0 2px color(#ffdc00 a(.5));
}

.field.is-warning.is-focused {
  box-shadow: 0 0 0 2px color(#ffdc00 a(.5));
}

.field:invalid {
  border-color: #EF476F;
}

.field.is-error {
  border-color: #EF476F;
}

.field:invalid:focus {
  box-shadow: 0 0 0 2px color(#EF476F a(.5));
}

.field:invalid.is-focused {
  box-shadow: 0 0 0 2px color(#EF476F a(.5));
}

.field.is-error:focus {
  box-shadow: 0 0 0 2px color(#EF476F a(.5));
}

.field.is-error.is-focused {
  box-shadow: 0 0 0 2px color(#EF476F a(.5));
}
/* Basscss Color Tables */

.table-light th {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #202A25;
}

.table-light td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #202A25;
}

.table-light tr:last-child td {
  border-bottom: 0;
}
/* Basscss Btn */

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: rgba(0,0,0,.125);
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Basscss Btn Primary */

.btn-primary {
  color: #ede0ce;
  background-color: #26547C;
  border-radius: 3px;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn-primary:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5;
}
/* Basscss Btn Outline */

.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.btn-outline {
  border-radius: 3px;
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
}
/* Basscss Type Scale */

.h1 { font-size: 2rem }
.h2 { font-size: 1.5rem }
.h3 { font-size: 1.25rem }
.h4 { font-size: 1rem }
.h5 { font-size: .875rem }
.h6 { font-size: .75rem }
/* Basscss Utility Typography */

.bold    { font-weight: bold }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}
/* Basscss Utility Layout */

.inline       { display: inline }
.block        { display: block }
.inline-block { display: inline-block }
.table        { display: table }
.table-cell   { display: table-cell }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.left  { float: left }
.right { float: right }

.fit { max-width: 100% }

.border-box { box-sizing: border-box }
/* Basscss Align */

.align-baseline { vertical-align: baseline }
.align-top      { vertical-align: top }
.align-middle   { vertical-align: middle }
.align-bottom   { vertical-align: bottom }
/* Basscss Utility White Space */

.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }

.m1  { margin:        .5rem }
.mt1 { margin-top:    .5rem }
.mr1 { margin-right:  .5rem }
.mb1 { margin-bottom: .5rem }
.ml1 { margin-left:   .5rem }

.m2  { margin:        1rem }
.mt2 { margin-top:    1rem }
.mr2 { margin-right:  1rem }
.mb2 { margin-bottom: 1rem }
.ml2 { margin-left:   1rem }

.m3  { margin:        2rem }
.mt3 { margin-top:    2rem }
.mr3 { margin-right:  2rem }
.mb3 { margin-bottom: 2rem }
.ml3 { margin-left:   2rem }

.m4  { margin:        4rem }
.mt4 { margin-top:    4rem }
.mr4 { margin-right:  4rem }
.mb4 { margin-bottom: 4rem }
.ml4 { margin-left:   4rem }

.mxn1 { margin-left: -.5rem; margin-right: -.5rem; }
.mxn2 { margin-left: -1rem; margin-right: -1rem; }
.mxn3 { margin-left: -2rem; margin-right: -2rem; }
.mxn4 { margin-left: -4rem; margin-right: -4rem; }

.mx-auto { margin-left: auto; margin-right: auto; }
.p0 { padding: 0 }

.p1  { padding:       .5rem }
.py1 { padding-top:   .5rem; padding-bottom: .5rem }
.px1 { padding-left:  .5rem; padding-right:  .5rem }

.p2  { padding:       1rem }
.py2 { padding-top:   1rem; padding-bottom: 1rem }
.px2 { padding-left:  1rem; padding-right:  1rem }

.p3  { padding:       2rem }
.py3 { padding-top:   2rem; padding-bottom: 2rem }
.px3 { padding-left:  2rem; padding-right:  2rem }

.p4  { padding:       4rem }
.py4 { padding-top:   4rem; padding-bottom: 4rem }
.px4 { padding-left:  4rem; padding-right:  4rem }
/* Basscss Positions */

.relative { position: relative }
.absolute { position: absolute }
.fixed    { position: fixed }

.top-0    { top: 0 }
.right-0  { right: 0 }
.bottom-0 { bottom: 0 }
.left-0   { left: 0 }

.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }
/* Basscss Utility Responsive States */

.sm-show, .md-show, .lg-show {
  display: none !important
}

@media (min-width: 40em) {
  .sm-show { display: block !important }
}

@media (min-width: 54em) {
  .md-show { display: block !important }
}

@media (min-width: 64em) {
  .lg-show { display: block !important }
}


@media (min-width: 40em) {
  .sm-hide { display: none !important }
}

@media (min-width: 54em) {
  .md-hide { display: none !important }
}

@media (min-width: 64em) {
  .lg-hide { display: none !important }
}

.display-none { display: none !important }

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* Basscss Grid */

.container {
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
}
.col {
  float: left;
  box-sizing: border-box;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

.col-1 {
  width: calc(1/12 * 100%);
}

.col-2 {
  width: calc(2/12 * 100%);
}

.col-3 {
  width: calc(3/12 * 100%);
}

.col-4 {
  width: calc(4/12 * 100%);
}

.col-5 {
  width: calc(5/12 * 100%);
}

.col-6 {
  width: calc(6/12 * 100%);
}

.col-7 {
  width: calc(7/12 * 100%);
}

.col-8 {
  width: calc(8/12 * 100%);
}

.col-9 {
  width: calc(9/12 * 100%);
}

.col-10 {
  width: calc(10/12 * 100%);
}

.col-11 {
  width: calc(11/12 * 100%);
}

.col-12 {
  width: 100%;
}
@media (min-width: 40em) {

  .sm-col {
    float: left;
    box-sizing: border-box;
  }

  .sm-col-right {
    float: right;
    box-sizing: border-box;
  }

  .sm-col-1 {
    width: calc(1/12 * 100%);
  }

  .sm-col-2 {
    width: calc(2/12 * 100%);
  }

  .sm-col-3 {
    width: calc(3/12 * 100%);
  }

  .sm-col-4 {
    width: calc(4/12 * 100%);
  }

  .sm-col-5 {
    width: calc(5/12 * 100%);
  }

  .sm-col-6 {
    width: calc(6/12 * 100%);
  }

  .sm-col-7 {
    width: calc(7/12 * 100%);
  }

  .sm-col-8 {
    width: calc(8/12 * 100%);
  }

  .sm-col-9 {
    width: calc(9/12 * 100%);
  }

  .sm-col-10 {
    width: calc(10/12 * 100%);
  }

  .sm-col-11 {
    width: calc(11/12 * 100%);
  }

  .sm-col-12 {
    width: 100%;
  }

}
@media (min-width: 54em) {

  .md-col {
    float: left;
    box-sizing: border-box;
  }

  .md-col-right {
    float: right;
    box-sizing: border-box;
  }

  .md-col-1 {
    width: calc(1/12 * 100%);
  }

  .md-col-2 {
    width: calc(2/12 * 100%);
  }

  .md-col-3 {
    width: calc(3/12 * 100%);
  }

  .md-col-4 {
    width: calc(4/12 * 100%);
  }

  .md-col-5 {
    width: calc(5/12 * 100%);
  }

  .md-col-6 {
    width: calc(6/12 * 100%);
  }

  .md-col-7 {
    width: calc(7/12 * 100%);
  }

  .md-col-8 {
    width: calc(8/12 * 100%);
  }

  .md-col-9 {
    width: calc(9/12 * 100%);
  }

  .md-col-10 {
    width: calc(10/12 * 100%);
  }

  .md-col-11 {
    width: calc(11/12 * 100%);
  }

  .md-col-12 {
    width: 100%;
  }

}
@media (min-width: 64em) {

  .lg-col {
    float: left;
    box-sizing: border-box;
  }

  .lg-col-right {
    float: right;
    box-sizing: border-box;
  }

  .lg-col-1 {
    width: calc(1/12 * 100%);
  }

  .lg-col-2 {
    width: calc(2/12 * 100%);
  }

  .lg-col-3 {
    width: calc(3/12 * 100%);
  }

  .lg-col-4 {
    width: calc(4/12 * 100%);
  }

  .lg-col-5 {
    width: calc(5/12 * 100%);
  }

  .lg-col-6 {
    width: calc(6/12 * 100%);
  }

  .lg-col-7 {
    width: calc(7/12 * 100%);
  }

  .lg-col-8 {
    width: calc(8/12 * 100%);
  }

  .lg-col-9 {
    width: calc(9/12 * 100%);
  }

  .lg-col-10 {
    width: calc(10/12 * 100%);
  }

  .lg-col-11 {
    width: calc(11/12 * 100%);
  }

  .lg-col-12 {
    width: 100%;
  }

}
/* Flex Object */

.flex { display: flex }

.flex-column  { flex-direction: column }
.flex-wrap    { flex-wrap: wrap }

.flex-center   { align-items: center }
.flex-baseline { align-items: baseline }
.flex-stretch  { align-items: stretch }
.flex-start    { align-items: flex-start }
.flex-end      { align-items: flex-end }

.flex-justify  { justify-content: space-between }

/*
 * 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893
 */

.flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}
.flex-grow { flex: 1 0 auto }
.flex-none { flex: none }

.flex-first { order: -1 }
.flex-last  { order: 99999 }
@media (min-width: 40em) {
  .sm-flex { display: flex }
}
@media (min-width: 54em) {
  .md-flex { display: flex }
}
@media (min-width: 64em) {
  .lg-flex { display: flex }
}
/* Basscss Color Borders */

.border {
  border-style: solid;
  border-width: 1px;
  border-color: #202A25;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #202A25;
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #202A25;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #202A25;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #202A25;
}

.border-none { border: 0 }

.rounded { border-radius: 3px }
.circle  { border-radius: 50% }

.rounded-top    { border-radius: 3px 3px 0 0 }
.rounded-right  { border-radius: 0 3px 3px 0 }
.rounded-bottom { border-radius: 0 0 3px 3px }
.rounded-left   { border-radius: 3px 0 0 3px }

.not-rounded { border-radius: 0 }
/* Basscss Colors */

.black  { color: #202A25 }
.gray   { color: #4C5C68 }
.silver { color: #ddd }
.white  { color: #ede0ce }

.aqua  { color: #7fdbff }
.blue  { color: #26547C }
.navy  { color: #001f3f }
.teal  { color: #39cccc }
.green { color: #2ecc40 }
.olive { color: #3d9970 }
.lime  { color: #01ff70 }

.yellow  { color: #ffdc00 }
.orange  { color: #ff851b }
.red     { color: #EF476F }
.fuchsia { color: #f012be }
.purple  { color: #b10dc9 }
.maroon  { color: #85144b }

.color-inherit { color: inherit }
.muted { opacity: .5 }
/* Basscss Background Colors */

.bg-black  { background-color: #202A25 }
.bg-gray   { background-color: #4C5C68 }
.bg-silver { background-color: #ddd }
.bg-white  { background-color: #ede0ce }

.bg-aqua  { background-color: #7fdbff }
.bg-blue  { background-color: #26547C }
.bg-navy  { background-color: #001f3f }
.bg-teal  { background-color: #39cccc }
.bg-green { background-color: #2ecc40 }
.bg-olive { background-color: #3d9970 }
.bg-lime  { background-color: #01ff70 }

.bg-yellow  { background-color: #ffdc00 }
.bg-orange  { background-color: #ff851b }
.bg-red     { background-color: #EF476F }
.bg-fuchsia { background-color: #f012be }
.bg-purple  { background-color: #b10dc9 }
.bg-maroon  { background-color: #85144b }

.bg-darken-1 { background-color: rgba(0,0,0,.0625) }
.bg-darken-2 { background-color: rgba(0,0,0,.125) }
.bg-darken-3 { background-color: rgba(0,0,0,.25) }
.bg-darken-4 { background-color: rgba(0,0,0,.5) }

.bg-lighten-1 { background-color: rgba(255,255,255,.0625) }
.bg-lighten-2 { background-color: rgba(255,255,255,.125) }
.bg-lighten-3 { background-color: rgba(255,255,255,.25) }
.bg-lighten-4 { background-color: rgba(255,255,255,.5) }
/* Basscss Utility Headings */

.h00 { font-size: 4rem }
.h0 {  font-size: 3rem }

@media (min-width: 54em) {
  .h00-responsive { font-size: 8vw }
  .h0-responsive {  font-size: 6vw }
  .h1-responsive {  font-size: 4vw }
}

@media (min-width: 96em) {
  .h00-responsive { font-size: 7.68rem }
  .h0-responsive {  font-size: 5.76rem }
  .h1-responsive {  font-size: 3.84rem }
}
.container-wide {
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
}

.container-widest {
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
}
.border-double {
  border-style: double;
  border-width: 3px;
  letter-spacing: 0.09em;
}

.icon {
  width: 1em;
  height: 1em;
}


.dotted {
  background-image: linear-gradient(to right, #333 26%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.flaired {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
.flaired:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.glyph {
  border: none;
  border-top: medium double #333;
  color: #202A25;
  text-align: center;
}
.glyph:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #ede0ce;
}

@media (min-width: 40em) {
  .sm-h3 { font-size: 1.25rem; }
}
